body {
    background-color: black;
    padding: 0;
    margin: 0;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: hsl(0,0%,10%);
    height: 5rem;
    box-shadow: 0 0 2rem hsl(0,0%,25%);
}

header * {
    color: white;
}

header nav {
    display: flex;
    gap: 3rem;
}

header .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.6rem;
}

nav button {
    height: 2.5rem;
    font-weight: 900;
    background: none;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
}

.active {
    border-bottom: 0.2rem solid white;
}

nav button:hover {
    transform: translateY(-0.25rem) scale(1.1);
}