:root {
    --secondary-color: hsl(0,0%,10%);
}

body {
    background-color: black;
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

body * {
    color: white;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--secondary-color);
    height: 5rem;
    box-shadow: 0 0 2rem hsl(0,0%,25%);
}

header nav {
    display: flex;
    gap: 3rem;
}

header .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.6rem;
}

nav button {
    height: 2.5rem;
    font-weight: 900;
    background: none;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
}

.active {
    border-bottom: 0.2rem solid white;
}

#content {
    flex: 1;
}

footer {
    height: 4rem;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
}

nav button:hover {
    transform: translateY(-0.25rem) scale(1.1);
}