:root {
    --secondary-color: hsla(0,0%,10%, 0.8);
    --blue: #3A8DFF;
}

* {
    margin: 0;
}

body {
    background-color: var(--blue);
    padding: 0;
    display: flex;
    flex-direction: column;
    background-image: url('assets/cat_cafe.jpg');
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

body * {
    color: white;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--secondary-color);
    height: 5rem;
    box-shadow: 0 0 2rem hsl(0,0%,25%);
}

header nav {
    display: flex;
    gap: 3rem;
}

header .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.6rem;
    font-weight: 900;
    font-family: 'Caveat', cursive, sans-serif;
}

header .logo h1 {
    text-shadow: 0 0 0.5rem black;
}

nav button {
    height: 2.5rem;
    font-weight: 900;
    background: none;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
}

.active {
    border-bottom: 0.2rem solid var(--blue);
}

#content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    height: 4rem;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
}

button:hover {
    transform: translateY(-0.25rem) scale(1.1);
}



.homepage {
    height: calc(100vh - 15rem);
}

.menupage, .homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
    flex: 1;
    background-color: rgba(0,0,0,0.3);
    border-radius: 2rem;
}

.homepage h1 {
    font-size: 6rem;
    font-weight: 900;
    font-family: 'Caveat', cursive, sans-serif;
    text-shadow: 0 0 1rem black;
.homepage button {
    padding: 1rem 4rem;
    background-color: var(--blue);
    border-radius: 0.5rem;
    border: none;
    font-size: 2rem;
}

.menupage > h1 {
    font-family: 'Caveat', cursive, sans-serif;
    font-size: 6rem;
}

.menupage > .category {
    width: 70vw;
    margin: 1.5rem;
}

.menupage > .category > h2 {
    font-size: 4rem;
    font-family: 'Caveat', cursive, sans-serif;
    text-align: center;
}

dl {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

dl > dt {
    font-size: 1.5rem;
    font-weight: 900;
}

dl > dd {
    font-size: 1.2rem;
}

.menupage > .category > hr {
    color: var(--blue);
    margin: 2rem 0;
    width: 70vw;
}